@import "variables.scss";

.article {
  position: relative;
}

.article__header {
  margin-bottom: 11px;
  text-transform: uppercase;
  padding: 0 25px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 46px;
  }
}

.article__number {
  margin-top: -24px;
  margin-bottom: 20px;
}
