@import "variables.scss";

.button {
  background: $main;
  width: 280px;
  height: 58px;
  border: none;
  cursor: pointer;
  line-height: 0;

  @media (min-width: 768px) {
    width: 324px;
    margin: 0 0 12px;
  }

  @media (min-width: 1200px) {
    width: 460px;
    margin: 0 0 12px;
  }

  &--form {
    width: 100%;
  }

  &--mini {
    margin-top: 32px;

    @media (max-width: 768px) {
      width: 280px;
      margin: 20px 0 50px;
    }

    @media (min-width: 1200px) {
      margin-top: 40px;
    }

    &:hover {
      background: $hover;
    }

    &:active {
      background: $active;
    }

    &:active[value] {
      color: $white;
      opacity: 0.3;
    }

    &:disabled {
      background: $form-bg;
    }
  }
}

.button__text {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  padding: 0;

  &:active {
    color: $white;
    opacity: 0.3;
  }
}


.button__link {
  line-height: 60px;
}
