.button {
  background: #81b3d2;
  width: 280px;
  height: 58px;
  border: none;
  margin: 0 20px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 55px;
}
