.button {
  background: #81b3d2;
  width: 460px;
  height: 58px;
  border: none;
  margin-bottom: 12px;
  cursor: pointer;
  line-height: 0;

  &--form {
    width: 100%;
  }

  &--mini {
    margin-top: 32px;

    @media (max-width: 768px) {
      width: 280px;
      margin: 20px 0 50px;
    }

    @media (min-width:1200px) {
      margin-top: 38px;
    }

    &:hover {
      background: #669ec0;
    }

    &:active {
      background: #669ec0;
    }

    &:active[value] {
      color: #ffffff;
      opacity: 0.3;
    }

    &:disabled {
      background: #e5e5e5;
    }
  }
}

p.button__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;

  &:active {
    color: #ffffff;
    opacity: 0.3;
  }
}

.article__title--search {
  margin-bottom: 8px;
}
