.contacts {
  @media (min-width: 768px) {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  h2 {
    @media (min-width: 768px) {
      &:before {
        content: '';
        position: absolute;
        top: 12px;
        right: 0;
        width: 28%;
        height: 1px;
        background: #dbdbdb;
      }

      &:after {
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        width: 28%;
        height: 1px;
        background: #dbdbdb;
      }
    }
  }
}

.contacts__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts__img {
  width: 58px;
  height: 58px;
  background: #e6e6e6;
  grid-area: 2/2/3/3;
  position: relative;

  @media (min-width: 1200px) {
    grid-area: 1/3/2/4;
  }

  &--tel::after {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../svg/phone.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
  }

  &--mail::after {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../svg/mail.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
  }
}

.contacts__section {
  display: flex;
  flex-direction: column;
}

.contacts__grid {
  position: relative;
  display: grid;
  grid-template-columns: auto 58px;
  grid-template-rows: auto;

  @media (min-width: 768px) {
    width: 100%;
    margin-bottom: 11px;
    margin-top: 17px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: auto 1fr 58px;
    grid-template-rows: auto;
    width: 47%;
    flex-direction: column;

    &:nth-child(1) {
      margin-right: 57px;
    }
  }
}

.contacts__label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  grid-area: 1/1/2/3;
  align-self: center;
  justify-self: left;

  @media (min-width: 1200px) {
    grid-area: 1/1/2/2;
    align-self: center;
    justify-self: left;
    margin-right: 20px;
  }
}

.contacts__input {
  grid-area: 2/1/3/2;
  border: none;
  background: #f2f2f2;
  box-sizing: border-box;
  padding: 18px 0 14px 22px;

  @media (min-width: 1200px) {
    grid-area: 1/2/2/3;
  }

  &:hover {
    background: #e5e5e5;
  }

  &:active {
    background: #ffffff;
    border: 4px solid #e5e5e5;
  }
}
