.cover {
  position: relative;
}

.cover__tagline {
  position: relative;
  top: 4em;
  width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 460px;
  }
}

.cover__shaving-left {
  position: absolute;
  bottom: -1px;
  right: 50%;
  width: 600px;
}

.cover__shaving-right {
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 600px;
}
