@import "variables.scss";

.cover {
  margin-top: 5px;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  @media (min-width: 1200px) {
    margin-top: 0;
  }

  &--big {
    height: 390px;

    @media (min-width: 768px) {
      height: 518px;
    }

    @media (min-width: 1200px) {}
  }

  &--small {
    height: 158px;

    @media (min-width: 768px) {
      height: 290px;
    }

    @media (min-width: 1200px) {
      height: 301px;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 57px;
    background-image: url("../img/svg/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: 320px 57px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 768px;
      background-size: 1200px 57px;
    }

    @media (min-width: 1200px) {
      width: 1200px;
    }
  }
}

.cover__poster {

  // @media (max-width: 767px) {
  //   margin-top: -27px;
  // }

  &--big::before {
    content: "";
    display: block;
    width: 320px;
    height: 390px;
    background-color: $background-pseudoelement;
    background-image: url("../img/back-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 320px 390px;
    position: absolute;
    margin: 0 auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: 768px) {
      width: 768px;
      height: 518px;
      background-image: url("../img/back-tablet.jpg");
      background-position: center center;
      background-size: 768px 518px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back-tablet@2x.jpg");
        background-size: 768px auto;
      }
    }

    @media (min-width: 1200px) {
      width: 1200px;
      background-position: center 100%;
      background-size: 1200px 518px;
      background-image: url("../img/back-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back-desktop@2x.jpg");
        background-size: 1200px auto;
      }
    }
  }

  &--small::before {
    content: "";
    display: block;
    width: 320px;
    height: 158px;
    background-color: $background-pseudoelement;
    background-image: url("../img/back-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 320px 390px;
    position: absolute;
    margin: 0 auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: 768px) {
      width: 768px;
      height: 290px;
      background-image: url("../img/back-tablet.jpg");
      background-position: center 100%;
      background-size: 768px 518px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back-tablet@2x.jpg");
        background-size: 768px auto;
      }
    }

    @media (min-width: 1200px) {
      width: 1200px;
      height: 301px;
      background-position: center 100%;
      background-size: 1200px 518px;
      background-image: url("../img/back-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/back-desktop@2x.jpg");
        background-size: 1200px auto;
      }
    }
  }

  &--big::after {
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    background-image: url("../img/svg/text-index.svg");
    background-repeat: no-repeat;
    background-position: 50% 87px;
    background-size: 281px 224px;
    position: absolute;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 768px;
      height: 518px;
      background-position: 50% 73px;
      background-size: 460px 350px;
      background-image: url("../img/svg/text-index.svg");
    }

    @media (min-width: 1200px) {
      width: 1200px;
      background-position: 50% 78px;
    }
  }

  &--small::after {
    content: "";
    display: block;
    width: 320px;
    height: 155px;
    background-image: url("../img/svg/text-sedona.svg");
    background-repeat: no-repeat;
    background-position: 50% 51px;
    background-size: 230px 40px;
    position: absolute;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 768px;
      height: 518px;
      background-size: 460px 93px;
      background-image: url("../img/svg/text-sedona.svg");
      background-position: 50% 85px;
    }

    @media (min-width: 1200px) {
      width: 1200px;
      background-position: 50% 98px;
    }
  }
}
