.developer {
  display: flex;
}

.developer__link {
  width: 37px;
  height: 35px;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 37px;
    height: 35px;
    background-image: url(../img/htmlacademy.svg);
    background-repeat: no-repeat;
    background-size: 37px 35px;
    position: absolute;
    top: 0;
    right: -16px;
    fill: #2E368F;
  }

  &:hover::after {
    fill: #81b3d2;
  }

  &:active::after {
    fill: #000000;
    opacity: 0.3;
  }
}
