.impression {
  @media (min-width: 768px) {
    grid-row: 2/3;
    grid-column: 1/2;
    height: auto;
    border-right: 1px solid #dbdbdb;

    & h2 {
      text-align-last: left;
    }
  }
}

.impression__flex {
  display: flex;
  flex-direction: column;
}

.impression__label {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 700;
}

.impression__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

}

.impression__radio {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  background: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 20px;

  &:hover {
    background: #e5e5e5;
    border: 5px solid #e5e5e5;
  }
}

.impression__input:checked+.impression__radio::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 18px;
  height: 18px;
  background: #333333;
  border: 3px solid #333333;
  border-radius: 50%;
}
