@import "variables.scss";


// ! Переключение
.main-nav__no-js {
  display: block;
  // display: none;
}

.main-nav__js {
  // display: block;
  display: none;
}

// БУРГЕР И КРЕСТИК
.main-nav__toggle {
  border: 0;
  background: none;
  float: right;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 2000;
}

.main-nav__opened .main-nav__toggle::before {
  background-image: url("../img/svg/icon-cross.svg");
}

.main-nav__opened .main-nav__toggle:hover::before {
  background-image: url("../img/svg/icon-cross-hover.svg");
}

.main-nav__opened .main-nav__toggle:active::before {
  background-image: url("../img/svg/icon-cross-active.svg");
}

.main-nav .main-nav__toggle::before {
  background-image: url("../img/svg/icon-menu.svg");
}

.main-nav .main-nav__toggle:hover::before {
  background-image: url("../img/svg/icon-menu-hover.svg");
}

.main-nav .main-nav__toggle:active::before {
  background-image: url("../img/svg/icon-menu-active.svg");
}

.main-nav__opened {
  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__list {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  text-align: center;

  &--disabled {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &--closed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 56px;
  }
}

.main-nav__item--closed.main-nav__item--1,
.main-nav__item--closed.main-nav__item--2,
.main-nav__item--closed.main-nav__item--4,
.main-nav__item--closed.main-nav__item--5 {
  @media (max-width: 768px) {
    display: none;
  }
}

.main-nav__item--closed.main-nav__item--3 {
  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.main-nav__item {
  &--opened {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    left: 0;
    top: 0;
    background: $main;

    &:nth-child(3) {
      display: none;
    }
  }

  &--closed {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    flex-basis: 20%;

    @media (min-width: 768px) {
      font-family: "PT Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 26px;
      color: $black;
      flex-basis: 20%;
    }
  }
}

.main-nav__item--opened.main-nav__item--1 {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}

.main-nav__item--opened.main-nav__item--2 {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__item--opened.main-nav__item--4 {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__item--opened.main-nav__item--5 {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__gradient {
  height: 7px;
  background: $main linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.main-nav__link {
  font-size: 18px;
  font-weight: bold;
  color: $black;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  &:hover {
    color: $main;
  }

  &:active {
    color: $black;
    opacity: 0.3;
  }

  &--current {
    color: $current;
  }

  &--opened {
    color: $white;

    &:hover {
      background: $hover;
      color: $white;
    }

    &:active {
      background: $active;
      color: $white;
      opacity: 0.3;
    }
  }
}

.main-nav__link--opened.main-nav__link--current {
  color: $current;
}

.main-nav__cover {
  background-color: $main-nav;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 390px;
  text-align: center;
  position: relative;
  margin-bottom: 32px;
  z-index: -1;

  @media (min-width: 768px) {
    background-position: center top;
  }
}

.main-nav__width {
  @media (max-width: 767px) {
    width: 102px;
    margin: 0 auto;
  }
}

.main-nav__logo {
  position: relative;
  z-index: 1000;
  margin: 0 auto;
  margin-top: 42px;

  @media (min-width: 768px) {
    margin-top: 28px;
  }

  @media (min-width: 1200px) {
    margin-top: 41px;
  }

  img {
    margin: 0 auto;
  }
}
