@import "variables.scss";

.map {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    background-color: $main-nav;
    background-image: url("../img/svg/map-marker.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 0;
    top: 46%;
    left: 46%;
    border-radius: 15px;

    @media (min-width: 768px) {
      left: 48%;
      top: 47%;
    }

    @media (min-width: 1200px) {
      left: 49%;

    }
  }

  img {
    width: 100%;
  }
}
