.map {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    background-color: #cccccc;
    background-image: url(../svg/map-marker.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 0;
    top: 46%;
    left: 49%;
    border-radius: 15px;
  }
}
