.network {
  display: flex;

  &__link {
    width: 46px;
    height: 48px;
    background: #81B3D2;
    margin: 0 6px;
    display: block;
    position: relative;
  }

  &__img {
    position: relative;
    top: 25%;
    left: 25%;
    transform: translate(-50%, 0);
  }
}
