@import "variables.scss";

.network {
  display: flex;
}

.network__link {
  width: 46px;
  height: 48px;
  background: $main;
  display: block;
  position: relative;
  margin: -6px 11px 0 -4px;

  @media (min-width: 1200px) {
    padding: -3px 4px 0 3px;
  }


  &:hover {
    background: $hover;
  }

  &:active {
    background: $active;
  }

  &:active .network__img {
    opacity: 0.3;
  }
}

.page-footer__list:last-child {
  margin-right: -6px;
}

.network__icon {
  position: relative;
  top: 25%;
  left: 25%;
  transform: translate(-50%, 0);
  width: 20px;
  height: 20px;

  &:active {
    opacity: 0.3;
  }
}
