.network {
  display: flex;
}

.network__link {
  width: 46px;
  height: 48px;
  background: #81b3d2;
  margin: 0 6px;
  display: block;
  position: relative;
}

.network__img {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 20px;
  height: 20px;
}
