.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 235px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    height: 120px;
  }
}

.page-footer__tag {
  padding: 30px 77px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.page-footer__list {
  margin: 33px 0 45px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.page-footer__developer {
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
