@import "variables.scss";

.page-header {
  position: relative;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 44px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 55px;

  }
}



.page-top {
  margin-top: 0;
}
