@import "variables.scss";

.person {
  display: flex;
  flex-direction: column;
  margin: 0 0 23px;

  @media (min-width: 768px) {
    grid-row: 2/3;
    grid-column: 2/3;
    height: auto;
    margin-left: 60px;

    h2 {
      text-align: left;

      @media (min-width: 768px) {
        margin-bottom: 56px;
      }
    }
  }

  @media (min-width: 1200px) {
    margin-left: 80px;
  }
}

.person__input {
  height: 58px;
  border: none;
  background: $form-input;
  box-sizing: border-box;
  width: 0;

  &:hover {
    background: $form-bg;
  }

  &:active {
    background: $white;
    border: 4px solid $form-bg;
  }
}

.person__input[placeholder] {
  width: 100%;
  padding-left: 20px;
}

.person__flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 19px;

  @media (min-width: 768px) {
    padding-bottom: 17px;
  }

}

.person__label {
  font-size: 14px;
  line-height: 60px;
  text-transform: uppercase;
  color: $form-font-color;
  padding-right: 17px;
}
