@import "variables.scss";

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;


  @media (min-width: 768px) {
    font-size: 21px;
    line-height: 27px;
  }

  &--big {
    font-size: 21px;
    margin-bottom: 0;

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }

  &--detail {
    margin-bottom: 22px;
    line-height: 15px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &--town {
    padding: 0 25px;
  }
}


.title--search {
  @media (max-width: 767px) {
    margin-bottom: 8px;
  }
}

.title--bridge {
  @media (min-width: 768px) {
    padding: 41px 53px 7px;
  }

  @media (min-width: 1200px) {
    padding: 10px 110px;
  }
}

.title__squear {
  @media (min-width: 768px) {
    padding: 0 20px;
  }

  @media (min-width: 1200px) {
    padding: 0 124px;
  }
}

.title__road {
  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1200px) {
    padding: 0 124px;
  }
}

.title__visitors {
  @media (min-width: 768px) {
    padding: 0 50px;
  }

  @media (min-width: 1200px) {
    padding: 0 124px;
  }
}

.title--form {
  font-size: 18px;

  @media (min-width: 768px) {
    margin-bottom: 6px;
    font-size: 30px;
  }
}

.title__index {
  margin-bottom: 29px;

  @media (min-width: 768px) {
    margin-bottom: 31px;
  }
}
