$main: #81b3d2;
$line: #dbdbdb;
$form-bg: #e5e5e5;
$form-font-color: #333333;
$form-input: #f2f2f2;
$white: #ffffff;
$background-pseudoelement: #bdbdbd;
$textarea: #f2f2f2;
$black: #000000;
$darcen: #eaeaea;
$hover: #669ec0;
$active: #5496bd;
$current: #766357;
$main-nav: #cccccc;
$border: #d6d6d6;
$video_icon: #5c6870;
