/* Global */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  display: block;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}


img {
  display: block;
  max-width: 100%;
  border-style: none;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background-color: transparent;
}

// Выравнивание

html,
body {
  height: 100%;
  margin: 0;
}

input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
}
